body {
    font-family: "Cabin", sans-serif;
}

nav {
    font-size: 16px;
}

.navbar-brand {
    font-family: "Cabin", sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
}

.card {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: opx 1px 10px rgba white;
}

footer a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

footer h2 {
    font-family: "Cabin", sans-serif;
    height: 5px;
}